* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --section-number: 5;
    --max-height: 100vh;
    --max-width: 100%;

    /* -- Colors -- */
    --bg-dark-color: rgb(24, 24, 24);
    --text-light-color: rgb(236, 236, 236);
    --text-dark-color: rgb(24, 24, 24);
}

html {
    width: var(--max-width);
    height: var(--max-height);
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;    
}

body {
    width: var(--max-width);
    height: var(--max-height);
    font-family: 'Helvetica', sans-serif;
}

main {
    position: absolute;
    height: calc(var(--section-number) * var(--max-height));
    width: var(--max-width);
    scroll-snap-align: start;
}

/* ---- Nav ---- */

.desktop.nav {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    z-index: 1;
}

.desktop.nav .nav.desktop-menu {
    position: absolute;
    right: 100px;
}

.desktop.nav .nav.desktop-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.desktop.nav .nav.desktop-menu ul li {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop.nav .nav.desktop-menu ul li a {
    position: relative;
    box-sizing: content-box;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px 20px;
    border-radius: 10px;
}

.desktop.nav .nav.desktop-menu ul li a:hover {
    background-color: rgb(0, 102, 0);
    transition: linear 0.25s;
}

.desktop.nav .nav.desktop-logo {
    position: relative;
    width: 110;
    height: 110;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop.nav .nav.desktop-logo a {
    position: relative;
    width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1
}

.desktop.nav .nav.desktop-logo a img {
    position: relative;
}

.desktop.nav .nav.desktop-logo a:hover {
    background-color: rgb(0, 102, 0);
    transition: linear 0.25s;
}

.mobile.nav {
    display: none;
    z-index: -1;
}

/* ---- Sections ---- */

main > section {
    position: relative;
    height: var(--max-height);
    width: var(--max-width);
}

.sections:nth-child(1),
.sections:nth-child(3),
.sections:nth-child(5) {
    background-color: var(--bg-dark-color);
}

/* -- Home -- */

.home.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home.text.paragraph {
    color: var(--text-light-color);
}

.home.text.paragraph {
    font-size: 2vh;
    max-width: 70%;
    text-align: center;
    margin-top: 30px;
}

/* --  Project -- */

.project.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project.text.headline,
.project.text.paragraph {
    color: var(--text-dark-color);
}

.project.text.headline {
    font-size: 5vh;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.project.text.paragraph {
    font-size: 2vh;
    max-width: 70%;
    text-align: center;
    margin-top: 30px;
}

/* -- Enterprise -- */

.enterprise.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enterprise.text.headline,
.enterprise.text.paragraph {
    color: var(--text-light-color);
}

.enterprise.text.headline {
    font-size: 5vh;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.enterprise.text.paragraph {
    font-size: 2vh;
    max-width: 70%;
    text-align: center;
    margin-top: 30px;
}

/* -- Form -- */

.form.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form.text.headline p {
    color: var(--text-light-color);
    font-size: 5vh;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-dark-color);
}

.form.links {
    width: 80%;
    height: 50vh;
    display: flex;
    margin-top: 100px;
}

.form.text.link,
.form.text.qrcode {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form.text.link p,
.form.text.qrcode p {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4vh;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.form.text.link a,
.form.qrcode img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form.text.link a {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: green;
    padding: 10px 10px;
    left: 0%;
    border-radius: 50px;
    color:rgb(236, 236, 236);
    text-decoration: none;
}

.form.link.button {
    width: 200px;
    height: 60px;
}

.form.qrcode img {
    left: 25%;
    width: 50%;
}

/* -- About us -- */

.about-us.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us.text.headline,
.about-us.text.paragraph {
    color: var(--text-light-color);
}

.about-us.text.headline {
    font-size: 5vh;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.about-us.text.paragraph {
    font-size: 2vh;
    max-width: 70%;
    text-align: center;
    margin-top: 30px;
}

.footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--text-light-color);
}

.footer p {
    color: rgb(155, 155, 155);
    font-size: 12px;
}

/* -- Media Queries -- */

@media (width < 1400px) {
    .form.links {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: 60vh;
        margin-top: 30px;
    }

    .form.text.link {
        width: 80%;
    }

    .form.text.link p,
    .form.text.qrcode p {
        position: relative;
    }

    .form.text.qrcode p {
        top: 20px;
        width: 100%;
    }

    .form.qrcode img {
        left: 0%;
        width: 100%;
    }

    .form.link.button a {
        padding: 0px;
        left: 0%;
    }

    .form.link.button {
        height: 60px;
        width: 200px;
    }

    .desktop.nav {
        all: unset;
        display: none;
    }
    
    .desktop.nav .nav.desktop-menu {
        all: unset;
    }
    
    .desktop.nav .nav.desktop-menu ul {
        all: unset;
    }
    
    .desktop.nav .nav.desktop-menu ul li {
        all: unset;
    }
    
    .desktop.nav .nav.desktop-menu ul li a {
        all: unset;
    }
    
    .desktop.nav .nav.desktop-menu ul li a:hover {
        all: unset;
    }
    .mobile.nav {
        position: fixed;
        display: block;
        width: 100%;
        height: 80px;
        z-index: 1;
    }
    .mobile.nav .nav.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: green;
    }
    .mobile.nav .nav.header .nav.logo {
        position: relative;
        width: 78px;
        height: 78px;
        left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile.nav .nav.header .nav.logo a {
        position: relative;
        width: 70px;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile.nav .nav.header .nav.logo a img {
        position: relative;
    }
    .mobile.nav .nav.header .nav.menu-logo {
        position: relative;
        font-size: 28px;
        right: 20px;
        color: white;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile.nav .nav.header .nav.menu-logo i  {
        cursor: pointer;
        z-index: 1;
        padding: 10px;
    }
    .mobile.nav .nav.menu {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: red;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }
    .mobile.nav .nav.menu .quit-logo {
        font-size: 28px;
        position: absolute;
        top: 15px;
        right: 20px;
        color: white;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        cursor: pointer;
    }
    .mobile.nav .nav.menu .quit-logo i {
        padding: 10px;
    }
    .mobile.nav .nav.menu ul {
        position: relative;
        list-style: none;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mobile.nav .nav.menu ul li {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile.nav .nav.menu ul li a {
        box-sizing: content-box;
        padding: 20px;
        color: white;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
    }
}